body {
    background-color: #DADADA;
}

#master-menu {
    min-height:  7.8em;
}

#menuBar {
    clear: both;
    background-color: white;
    display: block;
    box-shadow: 1px 2px 2px 0 rgba(34,36,38,.15);
    margin: 0;
    padding-top: 0.5em;
    border-bottom: 2px solid rgba(34,36,38,.15);
}

.ui.search.item input {
    border-radius: 0.4rem;
    min-width: 30em;
}

.ui.search.item i {
    color: white;
}

#searchButton {
    background-color: #232f3e;
}

#searchButton:hover {
    background-color: #f3a847;
}

.ui.secondary.menu .header.item {
    border: none;
}

.pusher {
	opacity: 1;
    display: block;
}

#login-container {
    padding: 0;
    bottom: -100em;
}

#login-container .column {	
	max-width: 450px;    
}

.ui.masthead.segment {
    padding: 10em 0 10em 0;
}

#login-container {
    padding-top: 5em;
    margin: 0 auto 4em;
    top: 10em;
    min-height: 67%;
}

.column img {
    height: 100%;
    width: 100%;
}
.doubling.stackable.grid.container {
    margin: auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

.doubling.stackable.grid.container > .column {
    padding: 0em;
}

i.cart.icon {
    margin: 0;
}

.ui.label.itemcount {
    margin: 0;
    padding: 0.5em;
}

.cartimage {
    padding-left: 0.5em;
}

.ui.section.divider {
    margin: 0.75em;
}

.footer.segment {
    clear:both;
    padding: 5em 0em;
    margin: auto;
}

.ui.grid.signup {
    margin: 6em 2em 2em;
}

.ui.signup .column {
    max-width: 500px;    
}

.ui.signup .segment {
    position: relative;
    border-radius: .28571429rem;
    box-shadow: 10px 10px .28571429rem #888888;
    border-top: 6px solid #00b5ad;
    position: relative;
}

.ui.signup label {    
    text-align: left;
}

.ten.wide.column > h3, p{
    color: black;
    text-align: left;
}

#shoppingCartList a {
    color: black;
}

.ui.fixed.menu+.ui.grid {
    padding: 0em;
}

#user-menu {
    padding: 0.5em;
    width: 3.386080em;
}

.ui.circular.image {
    width: 100%;
    height: 100%;
}
.ui.pointing.dropdown.user-menu .menu {
    padding: 1em;
}

.ui.pointing.dropdown.user-menu >.menu:after {
    margin: 0 0 0 44%;
}

.ui.pointing.dropdown.user-menu .menu>.item {
    padding: 0em;
    min-width: 25em;
}

.ui.pointing.dropdown.user-menu .menu .item img {
    min-height: 8em;
    min-width: 8em;
}

.ui.menu .ui.dropdown.user-menu .menu>.item:hover, .ui.menu .ui.dropdown .menu>.selected.item {
    background: #fff !important;
}

#thumbnail {
    max-width: 85em;
    margin: 3em auto;
}

.footer-logo-image {
    max-width: 8em;
    max-height: 8em;
}

.ui.footer.segment .seven.wide.column h4 {
    margin-top: 0.1em
}

.ui.segment .thirteen.column .two.column .image {
    height: 18em;
    z-index: 1;
}

.ui.segment .thirteen.column .three.column .image {
    height: 14.3em;
    z-index: 1;
}

.ui.segment .thirteen.column .three.column div.image.dimmable {
    width: 100%;
}

.ui.segment .thirteen.column .three.column img.image.dimmable {
    width: auto;
    margin: 0 auto;
}

#master-menu a.header.item {
    padding-top: 0em;
    padding-bottom: 0em;
}

.ui.secondary.menu a.item:hover {
    background: #fff !important;
}

#master-menu .products .ui.item>a {
    color: black;
}

#master-menu .products .ui.item .popup {
    margin-top: 1em;
    min-width: 700%;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    color: #FBBD08;
}


.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    color: #FBBD08;
}

.half-star-rating {
    margin-right: 5px;
}

.half-star-rating .br-wrapper.br-theme-fontawesome-stars-o, .review {
    display:inline-block;
} 

.item .content .sub-description {
    display:inline-block;
}

.check-out-form {
    background-color: #f3f3f3 !important;
}

.check-out-form a.button {
    background-color: #f0c14b !important;
}

#column-product {
    padding: 1em 4em;
}

.three.wide.column .segment .selection.dropdown {
    
}

.ui.tab.segment.active {
    margin: 0;
}

#addToCartButton {
    margin-top: 1em;
    background-color: #f0c14b;
}

#continueButton {
    margin-top: 1em;
    background-color: #f0c14b;
}

#submitOrderButton {
    margin-top: 1em;
    background-color: #f0c14b;
}

.thirteen.column .segment .ui.divided.items .item .image img {
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.price {
    color: #b12704;
}


#quantity-dropdown {
    width: 2em;
    min-width: 3em;
    min-height: 1em;
}

#cart-segment {
    min-height: 56%;
}

#cart-segment .item img {
    height: 124px;
    width: auto;
    margin: 0 auto;
}

#quantity-label {
    display:inline;
    margin: auto 0.5em;
}

.three.column .segment .quantity-container {
    margin: 0.5em 1em 0;
}
